[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

* {
    font-family: 'Play', sans-serif;
}

.fixed-top .navbar-brand {
    color: #FF0000 !important;
    font-family: 'Rammetto One', cursive;
    padding: 0;
    font-size: 25px;
}

.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

.padTop {
    padding-top: 65px;
}

input[placeholder] {
    text-align: center;
}

.card {
    margin-bottom: 25px;
}

.thumbnail img {
    width: 100%;
    height: 250px;
}

.fixed-bottom .navbar-brand {
    font-size: 15px;
}